<% missions.forEach((mission) => { %>
    <% if (mission.title == "Доглянути територію Ботанічного саду ОНУ" ) { %>
        <li class="list-group-item mission">
                <span class="badge"><%= mission.reward %> &cent;</span>
                <h4 class="list-group-item-heading"><%= mission.title %></h4>
                <p class="list-group-item-text"><%= mission.teaser %></p>
                <p class="description"><%= mission.description %></p>
        </li>
    <% } %>   
<% }); %>