<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/welcome.css" />
</head>
<body>

<div class="wrap">
    <img class="bg" src="/img/welcome.jpg" />

    <h1>Привіт!</h1>

    <p>Ви потрапили до сторінки Ukrainian Volunteer Service.</p>
    <p>Мы допомагаемо волонтерам бути ефективнішими, знаходити проекти та однодумців для створення кращого світу.</p>
    <p>Будь ласка, увійдіть через Facebook, щоб отримати доступ.</p>

    <a class="fb-btn" href="/auth/fb">
        <img src="/img/fb.png" align="left">
        Увійти через Facebook
    </a>
    <p><a class="policy" href="/policy">користувацька угода</a></p>
</div>

</body>
</html>