<% layout('../layout') %>

<form method="POST" action="">
        Заголовок : <input type="text" name="title"/><br />
        Краткое описание : <input type="text" name="teaser"/><br />
        Полное описание : <textarea rows="1" cols="20" name="description"></textarea><br />
        Чат в телеграмме для волонтёров : <input type="text" name="telegram_chat"/><br />
        Дата начала события : <input type="date" name="date_from"/><br />
        Время начала события : <input type="time" name="time_from" step="2"/><br />
        Дата окончания события : <input type="date" name="date_to"/><br />
        Время окончания события : <input type="time" name="time_to" step="2"/><br />
        Сколько часов волонтеры задействованы во время проекта : <input type="text" name="time"/><br />
        Город : 
            <input type="radio" name="city" value="Одесса"/>Одесса
            <input type="radio" name="city" value="Киев"/>Киев<br />
        Лимит участников (максимальное количество) : <input type="text" name="max_participants"/><br />
        Награда : <input type="text" name="reward"/><br />
        Опубликовано (флаг означающий что миссию видят волонтеры в списке миссий) :
            <input type="radio" name="active" value="true"/><br />
        <input type="submit" name="create_mission" value="Создать">
</form>
